* {
    margin: 0;
    padding: 0;
   
}

body {
    
    background-color: #FAF1E0;
    font-family: sans-serif;
    
}
/* Estilo Parte introdutiva */
header {

    background-color:#FC3C24; 
    font-style: normal;    
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  
} 

p, a{

    text-align: justify;
}
.descubra{

    text-decoration: none; 
   
    margin-right: 50px;    
}

.logo {
    width: 10%;    

}

.titulo-header{
    font-size: 50px;
    display: flex;
    color: #FAF1E0;
    justify-content: space-between;  
    padding-left: 50px;
    align-items: center;
   
}


.igualdade-de-genero-1{
    width: 50%;    
    display: flex;
    margin-bottom: 5px;
    
        
}
.inicio-do-site {

    display: flex;
    justify-content: space-between;    
   
}

.texto-inicio {

    width: 50%;
    color: #7C6F6D;
    font-size: 20px;
    font-style: normal;
    margin: 40px 50px;
   }


#separador {

    background-color: #FC3C24;
    width: auto;
    height: 13px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    margin-bottom: 5px;
}

.titulo-igualdade{

    display: flex;
    justify-content: space-between;  
    color: #FC3C24; 
    font-size: 50px;    
}

.homem-e-mulher{   
    width: 50%;  

}
.texto-igualdade{
    
    color: #7C6F6D;    
    font-weight: 800;
    font-size: 20px;
    margin: 10px 10px 10px 10px;
    
}
.titulo-mas{
   text-align: center;
   margin-top: 30px;
  
}

/* Fim do estilo parte introdutiva */

/* estilo da parte principal */
.principal{

    color: #FC3C24; 
    text-align: center;
    font-size: 50px;
    margin-top: 13px;    
    margin-bottom: 13px;
     
}


#text-box{

    color: #7C6F6D;
    padding: auto;
    display: flex;  
    justify-content: space-between;  
   
}

#box {

    padding: 50px;
    margin-top: 5px;  
  
}

.iframe{
    display: flex;
    color: #FC3C24; 
    font-size: 50px;   
    flex-direction: column; 
    align-items: center;
        
}
.titulo-video{
     
    text-align: center;
    padding: 15px 15px 15px 15px;

}
footer{

    background-color:#FC3C24; 
    color: #FCDDEC;
    display: flex;
    width: auto;
    justify-content: space-between;
    margin-top: 10px;
    
}
.eu{

    width: 200px;     
     
}
.autor{
    font-size: 25px;
    margin: 30px 30px 30px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.nome{

    text-align: center;
}
.creditos{
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 80px;   
}

/* Estilos para dispositivos móveis */
@media (max-width: 480px) {
  .logo {
    width: 16%;
  }
 
  .genero, .descubra {

    font-size: 0.45em;
   
  } 
  .descubra{
    margin-right: 0.0em;
    text-align: center;

  }
  .titulo-mas{
    font-size: 0.70em;  
    
  }

  .igualdade-de-genero-1, .texto-inicio{
    width: 100%;       
  }

  .inicio-do-site{
    display: flex;
    flex-direction: column;   
  }

  .texto-inicio, .texto-igualdade{
    margin: auto;
    font-size: 0.9em;   
    text-align: justify;     
  }
  .homem-e-mulher{
    height: 5.0em;
  }  
  section{
    display: flex;  
    flex-direction: column;    
  }

   #box{
    padding: 1.0em;
    font-size: 0.9rem;
   }

   .principal{
    font-size: 1.9em;
   }

   .titulo-video{
    font-size: 0.70em;
   }
  
   .eu{
     width: 8.0em;        
   }

   .autor, .creditos{
    font-size: 0.8em;
   }
   
   
}

/* Estilos para tablets e IPads*/
@media (min-width: 481px) and (max-width: 768px) {

}

/* Estilos para notebooks */
@media (min-width: 769px) and (max-width: 1024px) {
  
}

/* Estilos para computadores */
@media (min-width: 1025px) and (max-width: 1200px) {

}

/* Estilos para telas muito grandes */
@media (max-width: 1201px) {

}